@import "tailwindcss";

@source not "../../public";


@layer components {
    .xxyx {
        @apply px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-full;
    }
    .xxyx-black {
        @extend xxyx ;
    }

    .btn {


        @apply px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-full;

        &.red {
            @apply bg-red-500 hover:bg-red-600;
        }
    }


    .btn-primary {
        border-radius: calc(infinity * 1px);
        background-color: var(--color-blue-500);
        padding-inline: --spacing(5);
        padding-block: --spacing(2);
        font-weight: var(--font-weight-semibold);
        color: var(--color-white);
        box-shadow: var(--shadow-md);

        &:hover {
            @media (hover: hover) {
                background-color: var(--color-violet-700);
            }
        }
    }
}
